

.fa-brands, .fa-solid {
    font-size: 50px;
}

.fa-html5{
    color: #ff5722;
}

.fa-css3{
color: #004ce8;
}

.fa-square-js{
    color: #ffdf00;
}

.fa-node{
    color:#5cad47 ;
}

.fa-git-alt{
    color:#f15233 ;
}


.fa-database{
    color:#a29edd ;
}


.fa-linkedin{
    color: #0077b5;
}

.fa-instagram{
    color: #ff5a5a;
}

.fa-circle-check{
    color: #57a4ff;
}

.thumbnails , .thumbnailsPoke {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
  }
  
  
  .thumbnail , .thumbnailPoke {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  
  .thumbnail img , .thumbnailPoke img{
    width: 100%;
    height: auto;
  }

@media screen and (max-width: 1158px) {
    .fa-brands,.fa-solid{
        font-size: 25px;
    }
}

@media screen and (max-width: 575px) {
    .fa-brands,.fa-solid{
        font-size: 15px;
    }
   
}

@media screen and (max-width:613px){
 
      .thumbnail , .thumbnailPoke {
        width: 50px;
        height: 50px;
      }
      
    }